<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quem Somos</title>
    <link rel="stylesheet" href={{url_for('static', filename='css/style.css' )}}>
</head>
<style>
    body {
        background-image: url("static/img/fundo2.png");
    }

    video {
        width: 100%;
        aspect-ratio: 16/9;
    }
</style>

<body>
    <div class="logo">
        <img src="static/img/logo.png">
    </div>
    <div class="botões"><a href="index">Home |</a>
        <a href="quem-somos">Quem Somos |</a>
        <a href="contato">Contato</a>
    </div>
    <div class="texto">
        <h2>Quem somos</h2>
        <p>Lorem <b>ipsum dolor</b> sit amet, consectetur adipiscing elit. Etiam pharetra accumsan leo sit amet lacinia.
            Maecenas vitae augue quis turpis laoreet sollicitudin. Suspendisse sit amet maximus est. Phasellus mollis mi
            in est commodo convallis. Pellentesque efficitur ipsum sit amet neque posuere aliquam. Integer laoreet odio
            id orci pellentesque aliquet. Quisque iaculis mauris felis, at tempus turpis tempor vitae. Duis ut lorem sed
            velit ultrices fermentum a vitae augue. Ut venenatis mi et urna faucibus maximus nec a est. Vestibulum
            viverra enim leo, vitae scelerisque ante auctor in. Proin mattis condimentum quam, quis sagittis augue
            hendrerit at.</p>
        <h2>5 motivos para estudar</h2>
        <ol>
            <li>Material sempre atualizado</li>
            <li>Tablets em sala de aula</li>
            <li>Professores renomados</li>
            <li>Universidade bem avaliada</li>
            <li>Ótima localização</li>
        </ol>
    </div>
    <hr class="barra">
    <div class="texto">
        <h2>Objetivos</h2>
        <p>Lorem <b>ipsum dolor</b> sit amet, consectetur adipiscing elit. Etiam pharetra accumsan leo sit amet lacinia.
            Maecenas vitae augue quis turpis laoreet sollicitudin. Suspendisse sit amet maximus est. Phasellus mollis mi
            in est commodo convallis. Pellentesque efficitur ipsum sit amet neque posuere aliquam. Integer laoreet odio
            id orci pellentesque aliquet. Quisque iaculis mauris felis, at tempus turpis tempor vitae. Duis ut lorem sed
            velit ultrices fermentum a vitae augue. Ut venenatis mi et urna faucibus maximus nec a est. Vestibulum
            viverra enim leo, vitae scelerisque ante auctor in. Proin mattis condimentum quam, quis sagittis augue
            hendrerit at.</p>

    </div>
    <div class="centro">
        <h4>Todos os direitos reservados</h4>
    </div>

</body>

</html>